.root {
  background-color: #f8f8f8;
  height: 100vh;
  :global {
    .profile {
      height: 77.33333vw;
      padding: 0 4vw;
      border-bottom-left-radius: 133.33333vw 32vw;
      border-bottom-right-radius: 133.33333vw 32vw;
      background: linear-gradient(318deg, #b2b5db 2%, #565482 85%, #494675 97%);
    }

    .user-info {
      display: flex;
      align-items: center;
      padding: 10.66667vw 0 4vw;

      .user-name {
        flex: 1;
        margin-left: 4.8vw;
        font-size: 6.4vw;
        font-weight: 400;
        color: #fff;
      }

      a {
        line-height: 4.26667vw;
        color: #fff;
        font-size: 3.2vw;
        text-decoration: none;

        &:visited {
          color: #fff;
        }
      }

      .icon {
        width: 9px;
        height: 16px;
        vertical-align: middle;
      }
    }

    .avatar {
      width: 13.33333vw;
      height: 13.33333vw;
      border: 3px solid rgba(255, 255, 255, 0.16);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .read-info {
      display: flex;
      align-items: center;
      width: 37.6vw;
      height: 8vw;
      padding: 1.33333vw;
      border-radius: 4vw;
      font-size: 3.2vw;
      color: #f7f8fa;
      background: linear-gradient(319deg, #585089 0%, #2c2a6b 98%);

      .icon {
        margin-right: 1.33333vw;
        font-size: 5.33333vw;
      }

      span {
        display: inline-block;
        margin: 0 0.8vw;
        font-size: 4.8vw;
        font-weight: bold;
        color: #ffbc3d;
      }
    }

    .count-list {
      display: flex;
      justify-content: space-between;
      padding: 4.8vw 0 4vw 0;
      .count-item {
        flex: 1;
        text-align: center;
        font-size: 3.46667vw;
        color: #fff;

        p {
          &:first-child {
            height: 3.73333vw;
            margin-bottom: 1.6vw;
          }
        }
      }
    }

    .user-links {
      display: flex;
      padding: 3vw 0;
      font-size: 3.2vw;
      text-align: center;
      background-color: #fff;
      border-radius: 2.66667vw;
      color: #333;
      .link-item {
        flex: 1;
        div {
          line-height: 3.38vw;
        }
      }

      .icon {
        margin-bottom: 2.93333vw;
        font-size: 6.13333vw;
      }
    }

    .more-service {
      // height: 120px;
      margin: 15px 4.26667vw 0 4.26667vw;
      border-radius: 2.66667vw;
      background-color: #fff;

      h3 {
        padding: 3.4vw 4vw;

        font-size: 4.53333vw;
        color: #333;
      }

      .service-list {
        display: flex;
      }

      .service-item {
        width: 25%;
        padding-bottom: 5.33333vw;
        text-align: center;
        font-size: 3.46667vw;
        div {
          line-height: 3.625vw;
        }
      }

      .icon {
        margin-bottom: 2.93333vw;
        font-size: 5.86667vw;
      }
    }
    .ant-drawer-content-wrapper {
      width: 100vw !important;
    }
  }
}
